@font-face {
  font-family: "cf";
  src: url("/cf.ttf") format("truetype");
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: "cf";
}
.bg-image {
  background-image: url("/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.logo_div {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
  padding-top: 10rem;
}
.logo {
  width: 40rem;
}
.items {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.button {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 1rem;
  border-radius: 100%;
  width: 14rem;
}
.button:hover {
  color: white;
  cursor: pointer;
}
.button-text {
  font-family: "cf";
  font-size: 7rem;
  margin: 3rem 0 3.5rem 10px;
  letter-spacing: 4px;
}
.red-button {
  background-color: #a1374b;
}
.blue-button {
  background-color: #4b6370;
}
.yellow-button {
  background-color: #dcb455;
}
.ceramic-button {
  background-color: #bb828b;
}
.subtext {
  color: black;
  font-size: 32px;
  letter-spacing: 0.4px;
}
.button-items {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .bg-image {
    display: block;
  }
  .logo_div {
    padding-top: 2rem;
    margin-bottom: 2rem;
    height: 4rem;
  }
  .logo {
    width: 25rem;
  }
  .buttons {
    flex-direction: column;
  }
  .button {
    width: 4rem;
  }
  .button-text {
    font-size: 1.5rem;
    margin: 1rem 0 1.2rem 0;
    letter-spacing: -1px;
  }
  .subtext {
    margin-bottom: 1.3rem;
    font-size: 1rem;
  }
}
