body,
html {
  height: 100%;
  margin: 0;
}
.bg-image {
  background-image: url("/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
}
.logo_div {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
  padding-top: 10rem;
}
.logo {
  width: 40rem;
}
.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.button {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 1rem;
  border-radius: 100%;
  width: 14rem;
}
.button-text {
  font-size: 8rem;
  margin: 1.5rem 0 3rem 0;
}
.red-button {
  background-color: #a1374b;
  font-weight: bold;
}
.blue-button {
  background-color: #4b6370;
}
.yellow-button {
  background-color: #dcb455;
}
.ceramic-button {
  background-color: #bb828b;
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }
  .logo {
    width: 16rem;
  }
  .button {
    margin-bottom: 4rem;
  }
}
